body{

margin:0;

font-family:Arial,Helvetica,sans-serif;

background:#edf2f7;

}

.container{

width:90%;

margin:auto;

text-align:center;

padding-top:50px;

}

h1{

font-size:52px;

color:#1f2937;

}

.subtitle{

font-size:22px;

margin-bottom:30px;

}

.upload-box{

background:white;

border:3px dashed #3498db;

border-radius:15px;

padding:60px;

transition:.3s;

}

.drag-text{

font-size:26px;

margin-bottom:30px;

}

button{

padding:15px 35px;

font-size:20px;

border:none;

border-radius:10px;

cursor:pointer;

background:#3498db;

color:white;

margin:10px;

}

button:hover{

background:#2980b9;

}

#fileList{

margin-top:30px;

text-align:left;

max-width:700px;

margin-left:auto;

margin-right:auto;

}

.file-item{

background:#ecf0f1;

padding:12px;

margin:8px;

border-radius:8px;

}

#status{

margin-top:20px;

font-size:22px;

font-weight:bold;

color:green;

}
