<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Invoice Extractor</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <h1>Invoice Extractor</h1>

    <p class="subtitle">
        Upload scanned invoice PDFs and extract invoice details
    </p>

    <!-- Upload Section -->

    <div class="top-buttons">

        <input
            type="file"
            id="pdfInput"
            accept=".pdf"
            multiple
            hidden>

        <button id="chooseBtn">
            Choose PDF Files
        </button>

        <button id="extractBtn" disabled>
            Extract Data
        </button>

        <button id="downloadBtn" disabled>
            Download Excel
        </button>

        <button id="resetBtn">
            Start Over
        </button>

    </div>

    <!-- Selected Files -->

    <div class="selected-files">

        <h2>Selected PDF Files</h2>

        <div id="fileList">

            No PDF Selected

        </div>

    </div>

    <!-- Loading -->

    <div id="loader" class="loader">

        Extracting invoice data...

    </div>

    <!-- Result Table -->

    <div class="table-container">

        <table id="resultTable">

            <thead>

                <tr>

                    <th>PO Code</th>
                    <th>Invoice No</th>
                    <th>Invoice Date</th>
                    <th>Base Amount</th>
                    <th>IGST</th>
                    <th>CGST/CESS</th>
                    <th>SGST</th>
                    <th>Other Charges</th>
                    <th>Total Amount</th>

                </tr>

            </thead>

            <tbody id="tableBody">

                <tr>

                    <td colspan="9">

                        No Data Available

                    </td>

                </tr>

            </tbody>

        </table>

    </div>

</div>

<script
src="{{ url_for('static', filename='js/script.js') }}">
</script>

</body>

</html>
