<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Invoice AI Extractor Pro</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

<h1>Invoice AI Extractor Pro</h1>

<p class="subtitle">
Upload scanned invoice PDFs
</p>

<div class="upload-box" id="dropZone">

<input
type="file"
id="pdfInput"
multiple
accept=".pdf"
hidden>

<p class="drag-text">

📄 Drag & Drop PDF Files Here

</p>

<button id="chooseBtn">

Choose Files

</button>

<div id="fileList"></div>

<button id="uploadBtn">

Upload PDFs

</button>

<div id="status"></div>

</div>

</div>

<script
src="{{ url_for('static', filename='js/script.js') }}">
</script>

</body>

</html>
